
.cb {clear: both;}
.fl {float: left;}
.fr {float: right;}
.cp {cursor: pointer;}
.dn {display: none;}

.label_dn {display: none;}

body {font-family: Verdana, "Helvetica Neue",Helvetica,Arial,sans-serif;}

a, a:hover, a:active, a:focus,
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {outline: none;}
/*
a, a:hover, a:active, a:focus, a:link,
.course-index div#accordion ul.ui-accordion-content li a p,
header.global.slim h2 .provider {font-family: Verdana, "Helvetica Neue",Helvetica,Arial,sans-serif;}
*/

header.global.nav_box {background: rgba(235, 246, 252, 0.75);border: 0;z-index: 3;height: auto;padding: 0;}
header.global.nav_box nav {max-width: 1201px;padding: 0;position: relative;height: auto;color: #003e6d;}
header.global.nav_box nav .container {padding: 0;max-width: 100%;width: 100%;position: relative;}
header.global.slim .menu_margin {margin: 0.3em 1em 0 0;}

header.global nav .logo {margin-right: 1em;height: auto;z-index: 3;min-height: 40px;float: left;}

header.global .nav-global ,
header.global .nav-courseware {margin: 1em 0 0 1em;}
.btn_border,
header.global .navbar-nav li .cta ,
header.global .nav-global li .cta ,
header.global .nav-courseware li .cta {color: #20567f;background: #fff;border: 1px solid #40b4e6;border-radius: 4px;padding: 0.3em 0.6em;font-size: 0.8em;
	text-transform: uppercase;box-shadow: none;}
.btn_border {display: inline-block;}

header.global .nav-global li .cta :hover,
header.global .nav-courseware li .cta:hover {background-color: #40b4e6;color: #fff;}


header.global .flags_box {position: absolute;right: 0; top: 0.1em;}
header.global .flags_box .flag_box {float: left;margin: 0 0.2em;line-height: 0.8em;}
header.global .flags_box .flag_box img {cursor: pointer;width: 15px;}


header.global .fix_menu {border-radius: 5em/3em;background-color: rgba(241,249,253, 0.6);box-shadow: 1px 2px 14px #f1f9fd;
	margin: 0.8em 0 0 0;}
header.global .fix_menu li {border-right: 1px solid #003e6d;margin: 0;padding: 0 1em;}
header.global .fix_menu li:last-child {border-right: 0;}
header.global .fix_menu li a {color: #003e6d;font-weight: normal;text-transform: uppercase;padding: 0;line-height: 1.3em;}
header.global .nav > li > a:focus,
header.global .nav > li > a:hover {text-shadow: 2px 2px 5px #40b4e6;background: none;}

header.global .search { position: relative;margin: 0.8em 0 0 0;}
header.global .search input.cta {padding: 0 2em 0 0.5em;border-width: 2px;height: auto;width: 22em;}/* text-indent: 30px; */
header.global .search .fa-search {position: absolute;top: 15%;right: 7px;font-size: 0.8em;color: #40b4e6;}

header.global .menu_margin {margin: 1em 1em 0 0;}
header.global .navbar-toggle {border: 1px solid gray;margin: 0.3em 0.3em 0 0;padding: 0.6em 0.5em 0.3em 0.5em;
  box-shadow: 0 0 0.3em gray inset;}
header.global .navbar-toggle:hover {background: silver;}
header.global .navbar-toggle .fa-bars {font-size: 1.5em;}
header.global .dropdown-menu {left: auto;}

header.global .user {height: 2.3em;}
header.global .user > .primary {height: 100%;}
header.global .user > .primary > a {padding-bottom: 0;height: 100%;}



.content-wrapper {position: relative; padding-bottom: 0px;}
.course-info header.course-profile,
.home > header {background: #fbfbfb url("/static/themes/memooc/images/MeMOOC/bg_buborek_full-min.png") no-repeat center center / auto;
	margin-top: 0;height: auto;border: 0;box-shadow: none;overflow: visible;}


.home > header .row.home_big_banner {padding: 0;margin: 0 auto;max-width: 1201px;clear: both;
	background: #fbfbfb url("/static/themes/memooc/images/MeMOOC/Optimized_home_bg.jpg") no-repeat;}
.home_bg img {position: relative;margin: -50px 0 0 0;}
.home_bg img.home_uom {position: relative;margin: -15px 0 0 -7px;}
.home_bg_bubble {position: relative; min-height: 332px;}
.home > header .home_big_banner .bb_tanulas {opacity: 0.95;padding: 1em;text-shadow: 2px 2px 13px #003e6d;}
.home > header .home_big_banner .bb_tanulas b,
.home > header .home_big_banner .bb_tanulas span{color: #fff;font-size: 4em;}
.home > header .home_big_banner .bb_tanulas b {font-weight: bold;}
.home > header .home_big_banner .bb_tanulas span {text-indent: 2em;font-size: 2em;display: block;}

.home_bubble {background: url("/static/themes/memooc/images/MeMOOC/home_buborek.png") no-repeat;width: 571px;height: 371px;
	padding: 90px 70px; color: #003e6d;top: 0.5em;font-family: Verdana;font-size: 0.9em;line-height: 2em;opacity: 0.85;left: 2em;position: absolute;}
.home_bubble p {font-size: 1.7em; color: #003e6d;font-family: Verdana;}





.home .courses-container {padding: 0;margin: 0;max-width: 100%;background-color: #EBEBEC;}
.home .courses-container .highlighted-courses {padding: 0 10px;margin: 0 auto;max-width: 1200px;}
.home .courses-container h1.title {color: #20567f;padding: 0.3em 0;text-transform: uppercase;margin: 0;background-color: #fff;width: 100%;}
.home .courses-container .courses .course .course-image .cover-image::before,
.home .courses-container .courses .course .course-image .cover-image {max-height: 149px;}
.home .highlighted-courses .courses {padding: 0;}
.home .highlighted-courses .courses .home_course_box {padding: 0.3em;}
.home .highlighted-courses .courses .course {border: 0;margin: 0;}
.home .highlighted-courses .courses .course.bb_blue {border-bottom: 3px solid #40b4e6;}
.home .course_info .col-sm-5 {min-height: 5.5em;}

.course-image,
.course-image {border-bottom: 1px solid #40b4e6;}
.courses-listing-item .course_info,
.course_info {padding: 0.2em;min-height: 6em;color: #003e6d;overflow: hidden;}
.courses-listing-item .course_info .col-md-6,
.course_info .col-md-6 {height: 100%;}
.courses-listing-item .course_info .course-organization,
.courses-listing-item .course_info .course-date,
.course_info .course-organization,
.course_info .course-date {color: gray;font-size: 0.8em;margin: 2em 0 0 0;}
.course_info .course-date {position: absolute;bottom: 0.5em;}
.course_info .col-sm-5 {min-height: 7.5em;}
.course_info .course-code {font-size: .8em;}
.courses-listing-item .course_info .course-title,
.course_info .course-title{font-weight: bold;}
.courses-listing-item .course_info .fal,
.course_info .fal {width: 1px;height: 80%;position:absolute;top: 10%;right:0;background-color: gray;}



/* course_about.html  ->  */

.course-info {background-color: #ebebec;}
.course-info header.course-profile {padding: 0;box-shadow: 0 1px 1px #003e6d;border-top: 3px solid #003e6d;border-bottom: 3px solid #003e6d;}
.course-info header.course-profile .intro-inner-wrapper {width: 100%;box-shadow: none;border: 0;background-color: transparent;}
.course-info header.course-profile > div > div {height: 200px;padding: 1em 0 0 0;}

#content .course-info .container {max-width: 1200px;width: auto;padding: 0;margin: 0 auto;}
#content .course-info .course_details > div {margin: 0em;padding: 0.5em;}
#content .course-info .course_details > div section {background-color: #fbfbfb;width: 100%;border: 0;}

#content .course_short_text_box .cstb_title {font-size: 1.5em;text-align: left;color: #003e6d;}
#content .overview_box {height: 12em;overflow: hidden;color: gray;font-weight: bold;}
#content .main-cta {margin: 1em 5em;text-align: right;}

.course-info .course-sidebar > section.course-summary {margin-bottom: 0;}

.course_details .details .inner-wrapper {padding: 1em;}

.course-info header.course-profile > div > div.course_about_img_box {padding: 0;}
#content .course-info header.course-profile > div > div .overview_box {height: 3em;}
.course_about_img_box {position: relative;line-height: 100%;display: table;}
.course_about_img_box .media {vertical-align: middle;}
.course_about_img_box .media .hero {max-height: 150px;overflow: hidden;}

.details h1,
.details h2,
.details h3,
.details h4 {color: #003e6d;}


/* course_about.html  <-  */


#modal_clone {bottom: auto;width: 604px;}
.modal.video-modal .inner-wrapper {height: auto;width: auto;}


/* courses  ->  */

.find-courses header.search {background: #fbfbfb url("/static/themes/memooc/images/MeMOOC/bg_buborek_full-min.png") no-repeat center center / auto;
    height: 340px;margin-top: -76px;box-shadow: none;}
.find-courses header.search .inner-wrapper.main-search {padding-top: 10em;}
.find-courses header.search .inner-wrapper.main-search .logo {border: 0;}

/*.find-courses .courses-container {padding-top: 0;}*/
.find-courses .courses-container .courses .courses-listing li {padding: 0 0.5em;min-height: 18em;}
.courses-container .courses .course {margin-bottom: 0;}
.find-courses .courses {padding-top: 0;}
.find-courses .courses > h1.title {color: #003e6d;margin-top: 0;}

.courses-container .courses .course .course-image .cover-image::before,
.courses-container .courses .course .course-image .cover-image {height: 117px;}
.courses-container .courses .course .course-image .cover-image
    {background: url("/static/themes/memooc/images/MeMOOC/bg_course.png") repeat scroll -34px -17px;}
.courses-container .courses .course .course-image .cover-image .learn-more {top: 20%;}

#filter_box h2,
#filter_box h3,
#filter_box h4 {font-size: 1.2em;}
#filter_box ul {list-style-type: none;padding-left: 1em;}
#filter_box ul li.selected {border: 1px solid #40b4e6;background-color: rgba(64, 180, 230, 0.2);border-radius: 2px;}
#filter_box ul a {cursor: pointer;text-decoration: none;display: block;padding: 0.2em;}
#filter_box #search_title {margin: 0.2em;width: 100%;text-transform: none;}

.container > .navbar-header {width: auto;}
.container > div {border: 0;box-shadow: none; background-color: transparent;}
header.global.slim h2 {margin-top: 0.2em;}

.content-wrapper .progress {height: auto;}
.wrapper-footer {
    background: rgba(235, 246, 252, 0.75) none repeat scroll 0 0;
    padding: 10px 10px 10px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: #003e6d;
}

.dashboard .my-courses .course .details .wrapper-course-image .cover,
.dashboard .my-courses .course .details .wrapper-course-image a.fade-cover {border-width: 1px;}
.wrapper-course-image .course-image {border-bottom: none;}

.discussion-article .post_user_profile_img {height: 1.5em;margin-top: -0.25em;}
.discussion-article .response-header-content .post_user_profile_img {display: block;float: left;height: 2.5em;margin: 0 0.5em 0 0;}

/* courses  <-  */

/* dashboard  ->  */

.dashboard .my-courses .course .details .course-info {background-color: transparent;margin: 0;}
.dashboard .my-courses .course .details .course-title {margin: 0;padding: 0;}
.dashboard .my-courses .course .details .course-title a,
.dashboard .my-courses .course .details .course-title span {line-height: normal;margin: 0;}

.unenroll-modal {bottom: auto;}

/* dashboard  <-  */

/* registration  ->  */

.login-register .action-primary {font-weight: 600;letter-spacing: normal;margin-top: 1em;padding: 10px;text-transform: none;width: 100%;}
.login-register .login-provider {border-color: #c8c8c8;height: 35px;margin-bottom: 20px;margin-right: 5px;padding: 0 0 0 40px;
    position: relative;text-align: left;text-shadow: none;text-transform: none;width: 130px;}
.login-register .login-provider .icon {background: #126f9a none repeat scroll 0 0;bottom: -1px;color: #fff;left: 0;line-height: 35px;
    position: absolute;text-align: center;top: -1px;width: 30px;}
.login-register .login-provider span {color: inherit;}
.login-register .login-provider:hover,
.login-register .login-provider:focus {background-image: none;box-shadow: none;}
.login-register .login-provider:hover .icon,
.login-register .login-provider:focus .icon {bottom: 0;line-height: 33px;top: 0;}
.login-register .login-provider.button-oa2-google-oauth2 {color: #dd4b39;}
.login-register .login-provider.button-oa2-google-oauth2 .icon {background: #dd4b39 none repeat scroll 0 0;}
.login-register .login-provider.button-oa2-google-oauth2:hover,
.login-register .login-provider.button-oa2-google-oauth2:focus {background-color: #dd4b39;border: 1px solid #a5382b;color: white;}
.login-register .login-provider.button-oa2-google-oauth2:hover {box-shadow: 0 2px 1px 0 #8d3024;}
.login-register .login-provider.button-oa2-facebook {color: #3b5998;}
.login-register .login-provider.button-oa2-facebook .icon {background: #3b5998 none repeat scroll 0 0;}
.login-register .login-provider.button-oa2-facebook:hover,
.login-register .login-provider.button-oa2-facebook:focus {background-color: #3b5998;border: 1px solid #263a62;color: white;}
.login-register .login-provider.button-oa2-facebook:hover {box-shadow: 0 2px 1px 0 #30487c;}
.login-register .login-provider.button-oa2-linkedin-oauth2 {color: #0077b5;}
.login-register .login-provider.button-oa2-linkedin-oauth2 .icon {background: #0077b5 none repeat scroll 0 0;}
.login-register .login-provider.button-oa2-linkedin-oauth2:hover,
.login-register .login-provider.button-oa2-linkedin-oauth2:focus {background-color: #0077b5;border: 1px solid #06527d;color: white;}
.login-register .login-provider.button-oa2-linkedin-oauth2:hover {box-shadow: 0 2px 1px 0 #005d8e;}

.login-register .toggle-form {margin-bottom: 6em;}
/* registration  <-  */

.slick-header-column.ui-state-default {height: auto;}
























@media (min-width: 768px) and (max-width: 1250px) {
 .videogular-container {width: 728px;height: 409.5px;}
  header.global .menu_margin {margin: 0.3em 1em 0 0;}
  .home_bubble {margin: 0.5em 0 0 -5em;}
}
@media (min-width: 240px) and (max-width: 768px) {
 .home_bubble {background: none;}
  .container {min-width: 100%;}
  .container > .navbar-header {margin: 0;}
  .home_bubble {width: 100%;}
  header.global .flags_box {right: 5em;}
  header.global .search {padding: 1em 2em}
  header.global .search input.cta {width: 100%;}
  #navbar {background-color: #ebebec;}
  header.global .fix_menu li {border: 0;padding: 0.2em 2em;}
  .courses-container .courses .course .course-image .cover-image {min-height:11.6em;height: auto;}
  .courses-listing-item .course_info .course-date,
  .home .home_course_box .course_info .course-date {margin: 0 0 1em 0;}
}
