## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<%! from django.utils.translation import ugettext as _ %>

<div class="wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
##          <li><a href="${reverse('tos')}">${_("Terms of Service")}</a></li>
##          <li><a href="${reverse('tos')}#privacy">${_("Privacy Policy")}</a></li>
          <li><a href="${reverse('tos')}">${_('Honor Code')}</a></li>
          <li><a href="${reverse('about')}#contact">${_('Contact')}</a></li>
##          <li><a href="${marketing_link('FAQ')}">${_('Help')}</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
