## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<%! from django.utils.translation import ugettext as _ %>

<div class="wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">${_("Terms of Service")}</a></li>
##          <li><a href="${reverse('tos')}#privacy">${_("Privacy Policy")}</a></li>
##          <li><a href="${reverse('tos')}">${_('Honor Code')}</a></li>
          <li><a href="${reverse('about')}">${_('Contact')}</a></li>
##          <li><a href="${marketing_link('FAQ')}">${_('Help')}</a></li>
          <li><span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span></li>
			</ol>
      </nav>

    </div>
	  <div class="szechenyi2020">
		  <a href="http://memooc.uni-miskolc.hu/index.php/hirek" target="_blank">
			  <img src="/static/themes/memooc/images/MeMOOC/szechenyi2020.png" alt="befektetés a jövőbe SZÉCHENYI 2020" />
		  </a>
	  </div>
    <div class="references">


    </div>
  </footer>

	<div class="szechenyi2020_fixed">
		  <a href="http://memooc.uni-miskolc.hu/index.php/hirek" target="_blank">
			  <img src="/static/themes/memooc/images/MeMOOC/szechenyi2020.png" alt="befektetés a jövőbe SZÉCHENYI 2020" />
		  </a>
	  </div>
</div>
